@import "src/styles/constants/styles";

.header--wrapper {
  color: #ffffff;
  background: #5b02ff;
  width: 100%;
  padding: 6rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > .title {
    text-align: center;
    font-size: 3rem;
    margin: 4rem;

    @media (max-width: $sm-size) {
      font-size: 2rem;
      margin: 2rem 1rem;
    }
  }

  @media (max-width: $sm-size) {
    padding: 4rem 2rem;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
