.go-up--container {
  position: fixed;
  width: 75px;
  height: 75px;
  border: solid #5b02ff 3px;
  border-radius: 50%;
  bottom: 50px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 3px 6px 4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  animation: pulse-purple 2s infinite;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;

  &.-visible {
    opacity: 0.8;
    visibility: visible;
  }
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}
