.header--wrapper {
  color: #ffffff;
  background: #5b02ff;
  height: 30%;
  width: 100%;
  padding: 6rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
